.logoutButton {
    position: absolute;
    right: 32px;
    top: 1px;
}

.logoutButton form input {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    background-color: gray;
    border: none;
    padding: 0px 50px;
    color: lightcyan;
    border-radius: 24px;
    font-family: 'Open Sans', sans-serif;
}

.logoutButton form input:hover {
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}
  
.landingPageBar {
    width: 100%;
    display: inline-flex;
    padding: 6px 12px;
    color: gray;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    box-shadow: inset 0px 50px 40px -50px black;
    background-color: lightcyan;
    top: 0px;
    left: 0px;
}
  
.landingPageBar .appName{
    margin: 0;
}

.display{
    position: relative;
    width: 100%;
    top: 50px;
}

.quickFacts{
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
}

.lists{
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
}

.listing{
    margin: 20px;
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.numUsers{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.numSellers{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.numBuyers{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.averagePrice{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.lowestListings{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.highestListings{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.zipCodes{
    margin: 20px; 
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}